body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 99vh;
  overflow: hidden;
  background-color: rgb(211, 211, 211);
}

h1 {
  color: #454545;
  margin-bottom: 0;
  font-size: 40px;
  text-shadow: 0 0 1px rgb(80, 80, 80);
}

#buttons {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  width: 70vw;
  height: 100px;
}

#colorpicker:hover {
  width: 113px;
  height: 63px;
}

#colorpicker {
  appearance: none;
  width: 110px;
  height: 60px;
  border: none;
  background-color: transparent;
}

#colorpicker::-webkit-color-swatch {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(174, 174, 174);
}

button:hover {
  background-color: rgb(226, 226, 226);
}

button:active {
  background-color: rgb(199, 199, 199);
}

button {
  border: none;
  height: 50px;
  width: 20%;
  border-radius: 10px;
  color: rgb(69, 69, 69);
  background-color: white;
  font-size: 24px;
  box-shadow: 0 0 6px rgb(174, 174, 174);
}

#size {
  appearance: none;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

#size::-webkit-slider-thumb:hover {
  background: rgb(80, 80, 80);
}

#size::-webkit-slider-thumb:active {
  background: rgb(69, 69, 69);
}

#size::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background: rgb(80, 80, 80);
  border-radius: 50%;
}

#size::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: rgb(69, 69, 69);
  border-radius: 50%;
}

.footer {
  margin-top: auto;
  margin-bottom: 7px;
}

footer {
  font-size: 18px;
  color: rgb(69, 69, 69);
}

a:link {
  color: rgb(69, 69, 69);
}
a:hover {
  color: rgb(80, 80, 80);
}
a:active {
  color: white;
}
a:visited {
  color: rgb(80, 80, 80);
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-top: 30px;
  width: 640px;
  height: 640px;
  background-color: white;
  box-shadow: 0 0 10px rgb(80, 80, 80);
}
