body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 99vh;
  overflow: hidden;
  background-color: rgb(211, 211, 211);
}

h1 {
  color: #454545;
  margin-bottom: 0;
  font-size: 40px;
  text-shadow: 0 0 1px rgb(80, 80, 80);
}

p {
  color: rgb(69, 69, 69);
  font-size: 23px;
  padding: 0;
  margin: 0;
}

#buttons {
  margin-left: 8%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  width: 100vw;
  height: 110px;
  position: relative;
}

#colorpicker:hover {
  width: 85px;
  height: 85px;
  
}

#colorpicker {
  margin-right: 61%;
  position: absolute;
  appearance: none;
  width: 80px;
  height: 80px;
  border: none;
  background-color: transparent;
  transition: width 0.1s, height 0.1s;
}

#colorpicker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 6px rgb(174, 174, 174);
}

button:hover {
  background-color: rgb(226, 226, 226);
}

button:active {
  background-color: rgb(199, 199, 199);
}

button {
  border: none;
  height: 55px;
  width: 15%;
  border-radius: 10px;
  color: rgb(69, 69, 69);
  background-color: white;
  font-size: 24px;
  box-shadow: 0 0 6px rgb(174, 174, 174);
}

#size {
  appearance: none;
  height: 10px;
  background-color: white;
  border-radius: 10px;
}

.size {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 5px;
}

#size::-webkit-slider-thumb:hover {
  background: rgb(80, 80, 80);
  width: 25px;
  height: 25px;
}

#size::-webkit-slider-thumb:active {
  background: rgb(69, 69, 69);
}

#size::-webkit-slider-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background: rgb(80, 80, 80);
  border-radius: 50%;
  transition: width 0.1s, height 0.1s;
}

#size::-moz-range-thumb {
  appearance: none;
  width: 22px;
  height: 22px;
  background: rgb(69, 69, 69);
  border-radius: 50%;
  transition: width 0.1s, height 0.1s;
}

.footer {
  margin-top: auto;
  margin-bottom: 7px;
}

footer {
  font-size: 18px;
  color: rgb(69, 69, 69);
}

a:link {
  color: rgb(69, 69, 69);
}
a:hover {
  color: rgb(80, 80, 80);
}
a:active {
  color: white;
}
a:visited {
  color: rgb(80, 80, 80);
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-top: 30px;
  width: 640px;
  height: 640px;
  background-color: white;
  box-shadow: 0 0 10px rgb(80, 80, 80);
}
